@{
    ViewData["Title"] = "О нас";
}



<h2>@ViewData["Title"]</h2>

<div>
  <p>История компании «ВАША МЕБЕЛЬ ОТ ПРОИЗВОДИТЕЛЯ ИП ПЕТРОВА» начинается с 1999 года. С момента открытия, которые стали основополагающими и неизменными ценностями компании. Это – выпуск продукции, достойного качества, использование надежных технологий и социальная ориентированность бизнеса. Предоставлять потребителю с современную, функциональную и качественную мягкую мебелью по приемлемой цене.</p>
      <div class="title text-center marginbottom-20">
         <h3>О производстве</h3>
        <hr>
      </div>
   <p>Производство мягкой мебели всегда было нашим основным видом деятельности. За 20 лет существования компании, мы в разы увеличили свои производственные мощности, тем самым, значительно расширив модельный ряд. Используя современное оборудование, труд квалифицированных и опытных мастеров, а также первосортные материалы, мы смело гарантируем отличное качество и долгий срок эксплуатации мягкой мебели нашего производства.</p>
     <div class="title text-center marginbottom-20">
    <h3>Цели и результаты</h3>
    <hr>
</div>
  <p>Мы идем в ногу со временем. Наше предприятие регулярно использует свежие идеи из сферы мебельного производства, чтобы изготавливать не только качественные, но и стильные элементы интерьера. Мы рады предложить вам широкий спектр услуг по изготовлению диванов, кресел, пуфов и другой мягкой мебели по ценам от производителя.</p>
<div class="clearfix marginbottom-50"></div>
</div>
