@{
    ViewData["Title"] = "Контакты";
}




<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
    <div class="dexp-animate animated flipInY" data-animate="flipInY">
        <div class="dexp-shortcodes-box hovericon box-circle box-center">
            <div class="box-icon"><i class="effect-1 sub-a fa fa-map-marker fa-2x"></i></div>
            <h3 class="box-title">Адрес салона</h3>
            <div class="box-content">
                <p class="text-center margintop-10">Новосибирск,<br><p>
                    ТЦ "Большая медведица"
                    ул.Светлановская, 50
                    второй этаж
                    тел. +7(913) 957-49-70
                </p>
            </div>
        </div>
    </div>



    <address>
        <strong>адрес для писем:</strong> <a href="mailto:mebel-petrova@mail.ru">mebel-petrova@mail.ru</a><br />
        <strong>маркетинг:</strong> <a href="mailto:2392147@mail.ru">2392147@mail.ru</a>
    </address>
</div>

