@model vashamebel.Models.Admin.Product
@{
    Layout = null;
}

<div class="col-12 center-block">
    <div class="thumbnail product-item center-block">
        <div class="modal-header">
            <button class="close" data-dismiss="modal" area-hidden="true">X</button>
            <h4>Диван модельного ряда "Селена"</h4>
        </div>
        <div class="modal-body">
            <img alt="" class="img center-block img-responsive"
                 style="max-width: 680px;
        width: 100%;"
                 src="@Html.DisplayFor(model => model.Path)" />
            <br>
            <dl class="dl-horizontal center-block">
                <dt>Название модели:</dt>
                <dd>@Html.DisplayFor(model => model.Name)</dd>

                <dt>Описание</dt>
                <dd>@Html.DisplayFor(model => model.Description)</dd>

                <dt>Стоимость &#8381</dt>
                <dd>@Html.DisplayFor(model => model.Price)</dd>
            </dl>
        </div>

    </div>
</div>

